<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置Spring创建核心容器时要扫描的包 只负责业务层和持久层-->
    <context:component-scan base-package="qt">
        <!--过滤Controller注解，将表现层交给SpringMVC来控制-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <!-- ####################  Spring整合Mybatis  #################### -->

    <!--1、配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--配置连接数据库参数-->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost/study"/>
        <property name="user" value="root"/>
        <property name="password" value="0000"/>
    </bean>

    <!--2、配置SqlSession工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--3、配置Mapper扫描器-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置需要扫描的Dao包-->
        <property name="basePackage" value="qt.dao"/>
    </bean>

    <!-- ####################  Spring整合Mybatis  #################### -->

    <!--配置Spring声明式事务管理-->

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置事务通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--配置通知的属性-->
        <tx:attributes>
            <!--查询方法-->
            <tx:method name="find*" read-only="true" propagation="SUPPORTS" />
            <!--增删改方法-->
            <tx:method name="*" read-only="false" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--配置AOP-->
    <aop:config>
        <!--配置切入点表达式-->
        <aop:pointcut id="expr" expression="execution(* qt.service.impl.*.*(..))"/>
        <!--建立通知与切入点表达式的关系-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="expr"/>
    </aop:config>
</beans>